<header class="landing-header col-xs-12 col-sm-12 col-md-14">
    <div class="container" style="background-color: darkred;">
      <div class="row">
        <div class="col-sm-6">
          <a href="/" routerlink="/">
            <img class="img-responsive landing-logo" src="../../assets/aaaa.png">
          </a>
        </div>
        <div class="col-sm-6">
          <ul class="list-inline">
            <li class="col-xs-4 col-sm-4 col-md-4">
              <a href="tel:+18444397868">
                <img src="https://img.icons8.com/android/24/000000/phone.png"/>
                 1-844-4EZ-QUOTE <br> 
                 <span class="pull-right hidden-xs"> (439-7868)</span>
              </a>
            </li>
            <li class="col-sm-4 col-md-4">
              <a href="javascript:void(0);"><img src="https://img.icons8.com/metro/24/000000/user-male.png"/>
                <span class="hidden-xs">Login</span>
              </a>
              <div class="button button-2"><a routerLink="addPhotographer" style="color:aliceblue;">Are you a Photographer!</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
    <div id="mybody">
   <div id="mydiv" style="margin-top: 100px; margin-left: -80px;">
      <h1 style="margin-top: 30px; color: darkred; margin-left: -200px;"><b>Login</b></h1><br>
      <div><input name="username" type="text" class="input username" placeholder="Username" style="width: 60%; height: 8%; margin-left: -100px;"></div><br>
      <div><input name="password" type="password" class="input password" placeholder="Password" style="width: 60%; height: 8%; margin-top: 10px; margin-left: -100px;"></div><br>
      <div style="margin-left: -170px; color: black; margin-top: 20px;"><input type="radio" name="Confirm" value="remember me"> Keep Me Logged In<br></div>
  
       <input type="submit" name="Login" style="width: 28%; height: 35px; margin-top: 10px; margin-left: -200px; border-style: none; background-color: darkred; color: white;"><br>
       <div style="margin-left: 300px; margin-top: 20px; margin-bottom: -40px;"><a href="" style="color: darkred; margin-left: -280px;">Forgot Password?</a></div>
   </div>
  </div>
  
    <div class="container" style="margin-top: 20px; height: 50px;">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p style="text-align: center; margin-top: 50px;">Copyright @ 2018 - AAAA Insurance Company Limited</p>
        </div>
      </div>
    </div>
  
  
  